mat-card {
    width: 700px;
    text-align: center;
    margin: auto;
  }
  
  mat-form-field {
    text-align: center;
    font-size: 24px;
    width: 450px;
  }
  
  .card-title {
    text-align: left;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
  }
  
  mat-card-title {
    text-align: center;
    font-size: 20px;
  }

  h3 {
      font-weight: 500;
      font-size: 18px;
      font-variant: small-caps;
  }
