<form class="example-form" >
    <mat-card> 
        <mat-card-content>
          <br>             
          <h3>Completa estos datos desde tu</h3>
          <h3>Home Banking de Red Link para</h3>
          <h3>ingresar los $ {{ monto }}</h3>
          <br>
          <mat-divider></mat-divider>
          <br>
          <div style="padding: 20px; text-align: start;">
            <p>Rubro</p>
            <h3>Cobranza para empresas y comercios</h3>
            <br>
            <p>Codigo Link de pagos</p>
            <h3>005991780971</h3>
            <br>
            <p>Concepto</p>
            <h3>Dinamica: Compra</h3>
            <br>
            <p>Referencia para cobrar</p>
            <h3>8657321715</h3>
            <br>
            <br>
            <p>Se acredita en 1 o 2 dias habiles</p>
            <br>  
          </div>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="primary" routerLinkActive="list-item-active" routerLink="/billetera" fxFlex="40">
                  Volver al inicio
            </button> 
          </mat-card-actions>     
      </mat-card>
</form>
