<form class="example-form" >
    <mat-card> 
        <mat-card-header>
            <mat-card-title>
                <span class="dinamica">Como queres pagar tus consumos?</span>
            </mat-card-title>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <a mat-list-item (click)="changeOption('qr')" class="list-item">
                <mat-icon fontSet="material-icons-outlined" style="margin-right: 20px;" class="dinamica">qr_code</mat-icon>
                <span class="matLine">Pagar con codigo QR</span>
                <mat-icon style="margin-left: auto;" class="dinamica">keyboard_arrow_right</mat-icon>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="changeOption('service')" class="list-item">
                <mat-icon fontSet="material-icons-outlined" style="margin-right: 20px;" class="dinamica">link</mat-icon>
                <span class="matLine">Pagar servicios</span>
                <mat-icon style="margin-left: auto;" class="dinamica">keyboard_arrow_right</mat-icon>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="changeOption('payment')"  class="list-item">
                <mat-icon fontSet="material-icons-outlined" style="margin-right: 20px;" class="dinamica">developer_mode</mat-icon>
                <span class="matLine">Autorizar pagos</span>
                <mat-icon style="margin-left: auto;" class="dinamica">keyboard_arrow_right</mat-icon>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="changeOption('automatic')" class="list-item">
                <mat-icon fontSet="material-icons-outlined" style="margin-right: 20px;" class="dinamica">fact_check</mat-icon>
                <span class="matLine">Adherir el debito automatico</span>
                <mat-icon style="margin-left: auto;" class="dinamica">keyboard_arrow_right</mat-icon>
            </a>
        </mat-nav-list>
    </mat-card>
</form>