<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
rel="stylesheet"/>
<mat-nav-list>
    <br>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon fontSet="material-icons-outlined">home</mat-icon>
        Home
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/billetera">
        <mat-icon fontSet="material-icons-outlined">account_balance_wallet</mat-icon>
        Dinero
    </a> 
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/actividad">
        <mat-icon fontSet="material-icons-outlined">view_list</mat-icon>
        Actividad
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/prestamos">
        <mat-icon fontSet="material-icons-outlined">library_books</mat-icon>
        Prestamos
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/adelantos">
        <mat-icon fontSet="material-icons-outlined">request_quote</mat-icon>
        Adelantos
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/retirar/dinero">
        <mat-icon fontSet="material-icons-outlined">account_balance</mat-icon>
        Retirar dinero
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/ingresar/dinero">
        <mat-icon fontSet="material-icons-outlined">archive</mat-icon>
        Ingresar dinero
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/pagos">
        <mat-icon fontSet="material-icons-outlined">payments</mat-icon>
        Pagar
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/cobranzas">
        <mat-icon fontSet="material-icons-outlined">point_of_sale</mat-icon>
        Cobrar
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/performance">
        <mat-icon fontSet="material-icons-outlined">bar_chart</mat-icon>
        Rendimiento
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/prestadores">
        <mat-icon fontSet="material-icons-outlined">public</mat-icon>
        Prestadores
    </a>
    <mat-divider></mat-divider> 
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/mi-negocio">
        <mat-icon fontSet="material-icons-outlined">storefront</mat-icon>
        Mi negocio
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/mi-perfil">
        <mat-icon fontSet="material-icons-outlined">person_outline</mat-icon>
        Mi perfil
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/help">
        <mat-icon fontSet="material-icons-outlined">help_outline</mat-icon>
        Ayuda
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon fontSet="material-icons-outlined">exit_to_app</mat-icon>
        Salir
    </a>
</mat-nav-list>