<div fxLayout="column" fxLayoutAlign="none center" fxLayoutGap="20px">
    <mat-card> 
        <mat-card-header>
            <mat-card-title>
                Como queres cobrar tus ventas?
            </mat-card-title>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <form class="example-form" >
            <mat-nav-list>
                <a mat-list-item (click)="changeOption('qr')" class="list-item">
                    <mat-icon fontSet="material-icons-outlined" style="margin-right: 20px;">qr_code</mat-icon>
                    <span>Cobrar con codigo QR</span>
                    <mat-icon style="margin-left: auto;">keyboard_arrow_right</mat-icon>
                </a>
                <mat-divider></mat-divider>
                <a mat-list-item (click)="changeOption('link')" class="list-item">
                    <mat-icon fontSet="material-icons-outlined" style="margin-right: 20px;">link</mat-icon>
                    <span>Enviar link de pago</span>
                    <mat-icon style="margin-left: auto;">keyboard_arrow_right</mat-icon>
                </a>
                <mat-divider></mat-divider>
                <a mat-list-item (click)="changeOption('sms')"  class="list-item">
                    <mat-icon fontSet="material-icons-outlined" style="margin-right: 20px;">developer_mode</mat-icon>
                    <span>Ventas tradicionales</span>
                    <mat-icon style="margin-left: auto;">keyboard_arrow_right</mat-icon>
                </a>
            </mat-nav-list>
        </form>
    </mat-card>
</div>