<mat-toolbar>
  <span>Dinamica</span>
</mat-toolbar>
<div class="container">
  <mat-tab-group mat-align-tabs="center" class="mat-elevation-z8">
    <mat-tab label="Soy un cliente">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">person</mat-icon>
        Soy un cliente
      </ng-template>
      <ng-template matTabContent>
        <sign-up-data [signupType]='0'></sign-up-data>
      </ng-template>
    </mat-tab>
    <mat-tab label="Soy un comercio">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">store</mat-icon>
        Soy un comercio
      </ng-template>
      <ng-template matTabContent>
        <sign-up-data [signupType]='1'></sign-up-data>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>