mat-toolbar {
  background-color: #FE0000;
  text-align: center;
}

mat-tab-group {
  max-width: 520px;
  padding: 25px;
  margin: auto;
  background-color: white;
}

.tab-icon {
  margin-right: 8px;
}
