.container {
    margin: 20px;
}
mat-card {
    min-width: 700px;
    text-align: center;
}

mat-form-field {
    text-align: center;
    font-size: 24px;
    width: 450px;
}

.card-title {
    text-align: left;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
}