
<form class="example-form" >
    <mat-card> 
        <mat-card-header>
            <mat-card-title>Deposita efectivo en una sucursal</mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: center;">
            <h3>Presenta tu DNI y el codigo de barras</h3>
            <br>
            <div style="background-color: whitesmoke; width: 200px; text-align: center; margin: auto;">
                <h1>888 888</h1>
            </div>
            <br>
            <a mat-button color="primary">Instrucciones para el cajero</a>
        </mat-card-content>
        <br>
        <mat-divider></mat-divider>
        <br>
        <mat-card-actions  align="end">      
            <button  mat-button color="primary" routerLinkActive="list-item-active" routerLink="/billetera" fxFlex="40">
                Retira en sucursal
            </button> 
        </mat-card-actions>     
    </mat-card>
</form>
