<div fxLayout="column" fxLayoutAlign="center stretch" > 
    <div class="mat-elevation-z8 sub-container" fxLayout="column" fxLayoutAlign="center stretch"> 
      <br>  
      <h3 style="text-align: center;">Listado de vencimientos</h3>
      <br>
      <mat-form-field style="width: 80%; margin: auto;">
          <mat-label>Filter</mat-label> 
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field> 
      <br>
      <table mat-table [dataSource]="dataSource">
    
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="cuota">
            <th mat-header-cell *matHeaderCellDef> No. Cuotas</th>
            <td mat-cell *matCellDef="let element"> {{element.cuota}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="vencimiento">
            <th mat-header-cell *matHeaderCellDef> Primer Vto </th>
            <td mat-cell *matCellDef="let element"> '03/01/2021' </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="coeficiente">
            <th mat-header-cell *matHeaderCellDef> coeficiente </th>
            <td mat-cell *matCellDef="let element"> {{element.coeficiente}} </td>
          </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="monto">
                <th mat-header-cell *matHeaderCellDef> Monto </th>
                <td mat-cell *matCellDef="let element"> {{element.coeficiente * this.operacion.monto}} </td>
                </ng-container>
                
            <!-- Name Column -->
            <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Selecciona </th>
            <td mat-cell *matCellDef="let element">
              <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button> 
            </td>
            </ng-container>

            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>   
 </div>