<div fxLayout="column" fxLayoutAlign="center stretch" > 
    <div class="mat-elevation-z8" fxLayout="column" fxLayoutAlign="center stretch"> 
      <br>  
      <h3 style="text-align: center;">Pendiente de acreditación</h3>
      <br>
      <mat-form-field style="width: 80%; margin: auto;">
          <mat-label>Filter</mat-label> 
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field> 
      <br>
      <table mat-table [dataSource]="dataSource">
    
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="operacionId">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.operacionId}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="operacionFecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.operacionFecha | date:'dd-MM-yyyy'}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="tipoOperacion">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoOperacion.tipoOperacionNombre}} </td>
          </ng-container>
    
          <!-- Name Column -->
          <ng-container matColumnDef="entidadDestino">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.entidadDestino.nombre}} </td>
          </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="monto">
          <th mat-header-cell *matHeaderCellDef class="amount"> Monto </th>
          <td mat-cell *matCellDef="let element" class="amount"> $ {{element.monto | number:'.2'}} </td>
        </ng-container>
            
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>   
 </div>