<div class="container">
  <mat-card>
    <h3>Movimientos</h3>
    <mat-divider></mat-divider>
    <br>
    <mat-list>
      <mat-list-item *ngFor="let operacion of operaciones.slice(0,25);">
        <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="20px" style="width: 100%;">
          <div fxFlex="20">
            <app-avatar></app-avatar>
          </div>
          <div fxFlex="60">
            <h3 matLine align="left"> {{ operacion.tipoOperacion.tipoOperacionNombre }} {{ operacion.entidadDestino.nombre }} </h3>
          </div>
          <div fxFlex="20">
            <p matLine align="right">
              <span>$ {{ operacion.monto | number:'.2' }}</span>
            </p>
            <p matLine align="right">
              <span>{{ operacion.operacionFecha | date:'dd-MM-yyyy' }} </span>
            </p>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <br>
  </mat-card>
</div>