<form class="example-form" >
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Confirmar operacion
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <br>             
            <p>Cliente</p>
            <h3>{{ operacion.entidadDestino.apellido}}, {{ operacion.entidadDestino.nombre }}</h3>
            <br>
            <h3>Documento</h3>
            <h3>{{ operacion.entidadDestino.documento }}</h3>
            <br>
            <h3>Monto</h3> 
            <h1>{{ operacion.monto }}</h1>
            <br>
            <br>
            <h3>Concepto</h3>
            <h1>Ventas</h1>
            <br>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions align="end">
            <button (click)="changeOption('approved')" mat-raised-button color="primary" fxFlex="40">
                Confirmar e imprimir
            </button> 
        </mat-card-actions>
    </mat-card>
</form>
