<div fxLayout="column" fxLayoutAlign="none center" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="space-evenly strech" fxLayoutGap="20px"> 
      <form class="example-form" >
          <mat-card> 
            <mat-card-header>
                <mat-card-title>Confirmar operacion</mat-card-title>
            </mat-card-header>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="column" fxLayoutAlign="none center" >
                <p>Operacion</p> 
                <h3>Adelanto de liquidaciones</h3>
                <br>             
                <br>
                <p>Monto</p>
                <h1>$ {{ operacion.monto }}</h1>
                <br>
                <p>La operacion se acreditara inmediatamente</p>
            </div>
            <br>
            <mat-divider></mat-divider>
            <mat-card-actions  align="end">
                <br>
                <button (click)="changeOption('approved')" mat-raised-button  color="primary" fxFlex="40">
                    Confirmar
                 </button> 
            </mat-card-actions>
 
            </mat-card>
        </form>
    </div>
</div>