
    <mat-card> 
        <mat-card-header>
            <mat-card-title>
                <span>Selecciona una tarjeta</span>
            </mat-card-title>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>

        <mat-selection-list #selected (selectionChange)="onSelection($event, selected.selectedOptions.selected)" [(ngModel)]="currentSelected" [multiple]="false">
            <mat-list-option *ngFor="let cuenta of cuentas" [value]="cuenta">
                <mat-icon mat-list-icon>folder</mat-icon>
                <mat-line style="margin-right: auto; font-size: 16px; font-weight: 400; line-height: 16px;">Tarjeta finalizada en {{ cuenta.cbu }}</mat-line>
                <mat-line style="margin-right: auto; font-size: 12px;">{{ cuenta.descripcion }}</mat-line>
                <mat-divider></mat-divider>
            </mat-list-option>
        </mat-selection-list>
        
        <mat-card-actions>
            <mat-nav-list> 
                <a mat-list-item (click)="changeOption('confirm')" class="list-item">
                    <span>Agregar cuenta</span>
                    <mat-icon style="margin-left: auto;">keyboard_arrow_right</mat-icon>
                </a>
            </mat-nav-list>    
        </mat-card-actions> 
    </mat-card>
           
