/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #EDEDED ;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.dinamica {
    color: #FE0000;
}

.matLine {
    color: #333333;
}
