<form class="example-form" >
    <mat-card> 
        <br>
        <br>
        <mat-card-content style="text-align: center;">
            <p>Acercate a la caja con este codigo y tu DNI</p>
            <p>y retira tu dinero en el acto</p>
            <br>
            <br>
            <h1>888 888</h1>
            <div style="background-color: whitesmoke; width: 80%; text-align: center; margin: auto;">
                <h3>El codigo vence hoy a las 00:00 hs</h3>
            </div>
            <br>
            <a mat-button color="primary">Instrucciones para el cajero</a>
        </mat-card-content>
        <br>
        <mat-divider></mat-divider>
        <br>
        <mat-card-actions>
            <h3>Hacelo en </h3>       
        </mat-card-actions>     
    </mat-card>
    <h3 class="title">Sucursales cercanas</h3>
    <mat-card>
       <google-map width="700" height="350" [center]="position">
 
       </google-map>     
    </mat-card>
</form>
